<div class="page">
    <h2>关于作者</h2>
    <div class="about_author">
        <a href="">姓名:</a><a href="">自由职业工作者</a>
        <a href="">年龄:</a><a href="">1999.10</a>
        <a href="">职业:</a><a href="">自由职业工作者</a>
        <a href="">GitHub:</a><a href="">@hezhi</a>
        <div>技能：</div>
        <div class="power"><a href="">计算机业余爱好者</a>
            <a href="">化学业余爱好者</a></div>
    </div>
    <h2>关于站点</h2>
    <p class="content">本站服务端采用python3.6 + mqsql + django2.0 搭建；采用前后端分离的方式 主要功能： 管理员,文章 前端采用：小程序，h5，app（weex）</p>
</div>