.tap_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #FFF;
    border-top: 1px solid #CCC;
    display: flex;
}

.tap_bar a {
    flex: 3;
    /* height: 100%; */
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #1E88E5;
    font-size: 12px;
    padding-top: 8px;
}

.tap_bar a span {
    display: block;
}