<div class="page">

    <div class="content">
        <div class="content_wrap">
            <p>小程勋审核终于通过了</p>
            <p><span>作者： </span><span>游戏爱好者 </span><span>时间:  </span><span>2018-6-4 00:00:00 </span></p>
            <p>path 被设置成了空字符串。这是因为 AppRoutingModule 中的路径已经设置为了 customers，所以 CustomersRoutingModule 中 的这个路由定义已经位于 customers 这个上下文中了。也就是说这个路由模块中的每个路由其实都是子路由。</p>

        </div>
    </div>
    <div class="con_bottom">
        <span>6赞</span><span>1评论</span><span>337浏览</span>
    </div>


    <div class="content">
        <div class="content_wrap">
            <p>小程勋审核终于通过了</p>
            <p><span>作者： </span><span>游戏爱好者 </span><span>时间:  </span><span>2018-6-4 00:00:00 </span></p>
            <p>path 被设置成了空字符串。这是因为 AppRoutingModule 中的路径已经设置为了 customers，所以 CustomersRoutingModule 中 的这个路由定义已经位于 customers 这个上下文中了。也就是说这个路由模块中的每个路由其实都是子路由。</p>

        </div>
    </div>
    <div class="con_bottom">
        <span>6赞</span><span>1评论</span><span>337浏览</span>
    </div>

    <div class="content">
        <div class="content_wrap">
            <p>小程勋审核终于通过了</p>
            <p><span>作者： </span><span>游戏爱好者 </span><span>时间:  </span><span>2018-6-4 00:00:00 </span></p>
            <p>path 被设置成了空字符串。这是因为 AppRoutingModule 中的路径已经设置为了 customers，所以 CustomersRoutingModule 中 的这个路由定义已经位于 customers 这个上下文中了。也就是说这个路由模块中的每个路由其实都是子路由。</p>

        </div>
    </div>
    <div class="con_bottom">
        <span>6赞</span><span>1评论</span><span>337浏览</span>
    </div>
</div>